body{   background-color: whitesmoke;
    text-align: center;

}
main{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.name{
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
    text-align: center;

}
.image-name{
    font-family: 'Garamond', serif;
}

ul, ol, tr, td, th {
    list-style-position: inside;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
  td{
    border: 2px solid ;
  }
